<!DOCTYPE html>
<html>
<head>
	<title>Movies IC</title>
	<link rel="stylesheet" type="text/css" href="result.css">
   <link href="https://fonts.googleapis.com/css?family=Arapey|Kaushan+Script" rel="stylesheet">
   <link rel="icon" type="Icon (.ico)" href="https://i2.wp.com/darnleyroadstudios.com/wp-content/uploads/sites/3/2017/02/Whitelabelfilms_favicon_512square-1.png?w=1080"
</head>

<h1>The Movies are:</h1>
<% for(var i=0;i<15;i++){%>
 <li> <%= data[i].title%> </li>

 <% }%>